.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 30px;
}
.inputContainer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;
}


.addButton {
    background-color: #2196f3;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    position: relative;

    &::after {
        content: '\271A';
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
input[type="date"], input[type="time"] {
    font-size: 16px;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #f9f9f9;
    transition: all 0.3s ease;
}
input[type="date"]:hover, input[type="time"]:hover {
    background: #2196f3;
    color: #fff;
    border: 1px solid #2196f3;
}










  